body {
    font-family: RedHatText
}


pfe-icon {
    --pfe-icon--Color: black;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
}
td,th {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0.3em 0.6em;
}
table caption {
    caption-side: bottom;
}
