body {
    font-family: RedHatText;
    font-size: 1.3em;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #1f1f1f;
    /* background-color: #1f1f1f; */
    background-color: #f7f7f7;
}

a, a:visited {
    color: var(--pfe-theme--color--link, #06c);
}
a:hover {
    color: var(--pfe-theme--color--link--hover, #004080);
}
a:hover pfe-icon {
    --pfe-icon--Color: var(--pfe-theme--color--link--hover, #004080);
}

pfe-icon.file, pfe-icon.dir {
    margin-right: 9px;
}

pfe-icon.dir {
    --pfe-icon--Color: var(--pfe-theme--color--link, #06c);
}

pfe-icon.file {
    --pfe-icon--Color: #9f9f9f;
}

pfe-icon {
    --pfe-icon--Color: ;
    /* --pfe-icon--BackgroundColor: grey; */
}

pfe-button {
    --pfe-button--BackgroundColor: white;
    --pfe-button--BackgroundColor--hover: white;
    --pfe-button--LineHeight: 2em;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 800px;
    background: white;
}
td,th {
    border: 1px solid rgb(212, 212, 212);
    padding: 0.3em 0.6em;
    text-align: left;
}
table caption {
    caption-side: top;
}

.filename {
    font-weight: bold;
    word-break: break-all;
}
.link-path {
    font-size: 1.2rem;
    color: #949494;
    font-weight: normal;
}

.breadcrumbs {
    margin-bottom: 0.2em;
    font-weight: bold;
}

.logo-link {
    margin: 3em;
}
.logo {
    transition: transform 12s cubic-bezier(0.49, -0.2, 0.27, 1.55);
}
.logo:hover {
    transform: scale(3.5);
}
